name: Ruby

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      matrix:
        ruby:
          - '3.2.1'

    steps:
    - uses: actions/checkout@v4
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true
    - name: test
      run: bundle exec rails test
    - name: syntax_tree
      if: ${{ !cancelled() }}
      run: |
        set -E
        bundle exec stree check Gemfile $(git ls-files '*.rb') $(git ls-files '*.rake')
